# PyTorch with CUDA 11.8 support
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.2.2+cu118
torchvision==0.17.2+cu118

# Monitoring & utils
prometheus-client==0.20.0
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.0
seaborn==0.13.2
tqdm==4.66.4